@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800&display=swap);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif
}

button {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

ul li {
    list-style: none;
}

input,
textarea {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
}