@media (max-width: 1300px) {
    .container {
        width: 1150px;
    }
}

@media (max-width: 1200px) {

    html.home-page,
    .home-page body,
    .home-page #root,
    .home-page .bannerPart {
        height: 100%;
        overflow: hidden;
    }

    .innerPage .breadcrumb .container {
        flex-direction: column;
    }

    .innerPage .breadcrumb .container .pageTitle {
        margin-bottom: 10px;
    }

    .innerPage .breadcrumb nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .detail .row figure {
        width: calc(100% - 460px);
    }

    .detail .row .sidebar {
        width: 400px;
    }

    .portfolio .projects .item {
        width: calc(100% / 2 - 24px);
    }

    .portfolio .projects .item figure {
        height: 300px;
    }

    .about .container .photo {
        height: 250px !important;
        margin-bottom: 15px;
    }

    .container {
        width: 1000px;
    }

    .headerPart .computer {
        display: none;
    }

    .headerPart .mobile.show {
        display: flex;
    }

    .menu-toggle-btn {
        display: flex;
    }

    .headerPart nav {
        width: 900px;
    }

    .headerPart nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 2;
        position: relative;
    }

    .headerPart nav ul li {
        padding: 15px 0;
    }

    .headerPart nav ul li a {
        font-size: 2em;
        transition: all .3s ease;
    }

    .headerPart nav ul:hover>li a {
        opacity: .3;
    }

    .headerPart nav ul:hover>li a:hover {
        opacity: 1;
        background: transparent;
    }

    #menu-background-pattern {
        width: 100vw;
        height: 100vh;
        background-image: radial-gradient(rgba(255, 255, 255, .1) 9%,
                transparent 9%);
        background-position: 0% 0%;
        background-size: 12vmin 12vmin;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        transition: opacity 800ms ease,
            background-size 800ms ease,
            background-position 800ms ease;
    }

    .headerPart .menu-background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-position: center 40%;
        object-fit: cover;
        opacity: .2;
        transition: opacity 800ms ease;
    }

    .headerPart nav:hover~#menu-background-image {
        opacity: .1;
    }

    .headerPart nav:hover~#menu-background-pattern {
        background-size: 11vmin 11vmin;
        opacity: .5;
    }

    .headerPart nav[data-active-index="0"]~#menu-background-pattern {
        background-position: 0% -25%;
    }

    .headerPart nav[data-active-index="1"]~#menu-background-pattern {
        background-position: 0% -50%;
    }

    .headerPart nav[data-active-index="2"]~#menu-background-pattern {
        background-position: 0% -75%;
    }

    .headerPart nav[data-active-index="3"]~#menu-background-pattern {
        background-position: 0% -100%;
    }

    .headerPart nav[data-active-index="4"]~#menu-background-pattern {
        background-position: 0% -125%;
    }

    .headerPart nav[data-active-index="5"]~#menu-background-pattern {
        background-position: 0% -150%;
    }

    .headerPart nav[data-active-index="6"]~#menu-background-pattern {
        background-position: 0% -175%;
    }

    .headerPart nav[data-active-index="7"]~#menu-background-pattern {
        background-position: 0% -200%;
    }
}

@media (max-width: 1080px) {
    .headerPart nav {
        width: 700px;
    }

    .container {
        width: 95%;
    }

    body {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .detail .row figure {
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .detail .row .sidebar {
        width: 100%;
    }

    .detail .row {
        margin: 50px 70px 0 70px;
    }

    .innerPage {
        min-height: calc(100vh - 180px);
    }

    .footerPart {
        margin-top: 40px;
    }

    .innerPage section {
        padding-top: 40px;
    }

    .contact .form-field {
        width: calc(100% - 350px);
    }

    .contact .sidebar {
        width: 300px;
    }

    .headerPart nav {
        width: 100%;
        padding-left: 150px;
    }

    .name {
        font-size: 5em;
    }
}

@media (max-width: 768px) {
    .detail .row {
        margin: 50px 40px 0 40px;
    }

    .contact .map-field {
        height: 300px;
    }

    .contact .form-field {
        width: 100%;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .contact .sidebar {
        width: 100%;
        margin-left: 0;
    }

    .skeleton .about .content {
        width: 100%;
    }

    .skeleton .about .container {
        flex-wrap: wrap;
    }

    .portfolio .projects .item {
        width: 100%;
        margin: 30px 70px;
    }

    .skills .container .item:nth-child(odd) {
        margin-right: 0;
    }

    .skills .container .item:not(:nth-last-child(-n+2)) {
        margin-bottom: 0;
    }

    .skills .container .item:not(:nth-last-child(-n+1)) {
        margin-bottom: 20px;
    }

    .skills .container .item {
        width: 100%;
    }

    .about .container .photo {
        float: none;
        margin-right: 0;
    }

    .headerPart nav {
        padding-left: 120px;
    }

    body {
        font-size: 14px;
    }

    .name {
        font-size: 4.25em;
    }
}

@media (max-width: 500px) {
    .detail .row {
        margin: 50px 0 0;
    }

    .bannerPart {
        height: 100svh;
    }

    .skills .container .item .left {
        display: none;
    }

    .skills .container .item .right {
        width: 100%;
    }

    .portfolio .projects .item {
        margin: 20px 5px;
    }

    .footerPart .container {
        flex-direction: column;
        justify-content: center;
    }

    .about .container .content .links a:not(:last-child) {
        margin-right: none;
    }

    .about .container .content .links a {
        margin: 5px;
    }

    .headerPart .mobile .closeBtn {
        top: 5px;
        right: 5px;
    }

    .headerPart nav {
        padding-left: 70px;
    }

    .name {
        font-size: 2.75em;
    }
}

@media (max-width: 360px) {
    .pageTitle {
        font-size: 2.2em;
        margin-bottom: 10px;
    }

    .portfolio .projects .item figure a button {
        height: 35px;
        padding: 0 10px;
        font-size: 14px;
    }

    .portfolio .projects .item figure {
        height: 200px;
    }
}